/* Common */

:root {
    --theme-dark-color: #004D40;
}

body {
    overflow: hidden;
    background-color: #eeeeee;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}

.row {
    margin: 0;
}

h1,
h2,
h3 {
    text-transform: uppercase;
    margin: 0;
}

.container-fluid {
    padding: 0;
}


/* Aside */

#aside-container {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #E0F2F1;
    background-color: var(--theme-dark-color)
}

#aside-name-container {
    margin: 32px 0;
}

@media all and (min-width: 576px) and (max-width: 767px) {
    #aside-name-container {
        margin-top: 30%;
    }
}

#aside-name-container > h1 {
    font-weight: 800;
    font-size: 30px;
}

#aside-name-container > h2 {
    margin-top: 8px;
    font-weight: 400;
    font-size: 18px;
}

#aside-avatar {
    margin: 16px 0;
    max-width: 100%;
    height: auto;
    border: 3px solid rgba(255, 255, 255, 0.4);
}

#aside-social-container {
    margin-top: 32px;
    margin-bottom: 16px;
}

#aside-social-container li {
    display: inline;
}

#aside-social-container ul {
    padding: 0;
}

#aside-social-container li a {
    color: white;
    padding: 8px;
}
